/* Login */
.new-session-registration .background-low-color {
  background-color: var(--color-highlight) !important;
}
@media screen and (max-width: 600px) {
  .new-session-registration .background-low-color {
    padding: 0 !important;
  }
}

.new-session-registration a {
  color: var(--color-primary) !important;
}

.new-session-registration .fa-sign-in {
  display: none !important;
}

.new-session-registration .portable--one-whole > .grid > .grid__item {
  padding: var(--spacing-large) !important;
  background-color: var(--color-background) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius-medium) !important;
}
.new-session-registration .portable--one-whole > .grid {
  margin-left: 0 !important;
}
.new-session-registration .grid {
  margin-left: 0 !important;
}
.new-session-registration #sign_in .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.new-session-registration #sign_in .card > .form-group {
  width: 80%;
}
.new-session-registration #sign_in .card .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-medium);
}
.new-session-registration #sign_in .card .form-group .user_remember_me {
  margin-top: var(--spacing-large);
}
.new-session-registration #sign_in .card .form-group .password,
.new-session-registration #sign_in .card .form-group .email {
  border-radius: var(--border-radius-small);
  width: auto;
  min-width: 100%;
  text-align: start;
}
#sign_in .card > .milli {
  width: 80% !important;
  margin-top: var(--spacing-large) !important;
}
#new_user_session > .text--center {
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-large);
}
#new_user_session > .text--center br {
  display: none !important;
}
#new_user_session > .text--center #user_submit,
#user_submit_sign_up {
  height: auto !important;
  margin: var(--spacing-small) auto !important;
}
#new_user_session > .text--center > .k-padding-5 {
  order: 3;
}

#new_session .acceptance {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
/* Sign-in and Sign-up */
#new_session .medium-title {
  text-transform: math-auto !important;
}
#new_session .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: var(--spacing-medium) !important;
}
#new_session .fa {
  display: none !important;
}
#new_session .background-low-color {
  background-color: var(--color-highlight) !important;
}
#new_session .background-low-color .card .form-group .password,
#new_session .background-low-color .card .form-group .email,
#new_session .background-low-color .card .form-group .select {
  border-radius: var(--border-radius-small) !important;
  width: auto;
  min-width: 100%;
  text-align: start;
}

#new_session .background-low-color .card .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-medium);
  width: 80% !important;
}
#new_session .grid__item {
  margin: 0 !important;
  padding: 0 !important;
}

#new_session .background-low-color > .grid,
#new_session #grid_session,
#grid_session .grid {
  margin: 0 !important;
}
#new_session .background-low-color > .grid {
  margin: 42px 0 !important;
}
#grid_session {
  display: flex;

  gap: var(--spacing-large) !important;
  padding: 22px 0;
}
#grid_session > .portable--one-whole {
  background-color: var(--color-background) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius-medium) !important;
  padding: var(--spacing-medium) !important;
}
@media screen and (max-width: 600px) {
  #grid_session {
    flex-direction: column-reverse;
  }
}

.grid__item:has(#sign_up) > h1.medium-title,
.grid__item:has(#sign_in) > h1.medium-title {
  font-size: 0;
  margin-bottom: 10px !important;
}
.grid__item:has(#sign_up) > h1.medium-title::after {
  content: "Créer un compte";
  font-size: 24px;
  font-weight: 600;
  text-transform: math-auto;
}
.grid__item:has(#sign_in) > h1.medium-title::after {
  content: "Se connecter";
  font-size: 26px;
  font-weight: 600;
  text-transform: math-auto;
}
