body:has(#desktop_default_client_space[href="/fr/users/406953/edit"])
  #box_project_34771 {
    display: block !important;
  }

body:has(#desktop_default_client_space[href="/fr/users/406954/edit"])
  #box_project_34771 {
    display: block !important;
  }