.sticky-wrapper {
  display: none !important;
}

.sticky-wrapper:has(.cookies-msg--container) {
  display: block !important;
}
.cookies-msg--container {
  width: 25% !important;
  position: fixed !important;
  bottom: 0 !important;
  background-color: var(--color-highlight) !important;
  border-top-right-radius: var(--border-radius-small) !important;
  color: var(--color-primary) !important;
}
.cookies-msg--acceptLink a {
  background-color: var(--color-primary) !important;
  color: var(--color-light) !important;
}
#grid_horizontal_share_project {
  width: 100% !important;
  margin: 0 auto !important;
}
#section_nav_project .nav .nav_menu_align .menu-item {
  padding: 12px 16px;
  color: var(--color-primary) !important;
}
#grid_horizontal_share_project > .grid__item:nth-of-type(1) {
  width: 70% !important;
}

#grid_horizontal_share_project > .grid__item:nth-of-type(2) {
  width: 30% !important;
}
#grid_horizontal_share_project > .grid__item:nth-of-type(2) .card {
  max-width: 590px !important;
  min-width: auto !important;
  min-height: auto !important;
  max-height: none !important;
}
#section_nav_project .nav .nav_menu_align .menu-item.active {
  border-color: var(--color-primary) !important;
}

.horizontal_project_logo,
.horizontal_project_subtitle,
.horizontal_project_subtitle {
  display: none;
}

#horizontal_card_project .inside-project-category {
  display: none !important;
}
#horizontal_card_project .inside-project-owner {
  display: none !important;
}

#horizontal_card_project .amf_text_security {
  display: none !important;
}
#section_nav_project {
  padding-left: 30px !important;
}

#horizontal_card_project {
  background-color: var(--color-background) !important;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0 !important;
  color: var(--color-dark) !important;
  margin: 60px 0 0 0 !important;
  box-shadow: none !important;
}
body:has(.progress-bar:not([style*="display: none"])) #horizontal_card_project,
body:has(.circle-progress) #horizontal_card_project {
  padding-bottom: 62px !important;
}

#horizontal_card_project .inside-project-name {
  margin: 12px 0 !important;
  font-size: var(--font-size-large) !important;
}
#horizontal_card_project .inside-project-tags .fa-tag,
#horizontal_card_project .inside-project-tags .inside-project-localization,
.inside-project-owner {
  display: none !important;
}
.inside-project-financial-data {
  text-align: start !important;
  margin-top: 12px !important;
}
#horizontal_card_project .inside-project-tags a {
  background: var(--color-secondary) !important;
  color: var(--color-light) !important;
  padding: var(--spacing-small) var(--spacing-medium) !important;
  border-radius: var(--border-radius-small) !important;
  font-weight: bold !important;
  min-height: 28px !important;
  font-size: var(--font-size-small) !important;
}
.inside-project-status .grid {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.inside-project-status .grid .grid__item .text--center {
  text-align: left !important;
}

.inside-project-status .grid .grid__item {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: auto !important;
}
.inside-project-status .grid .grid__item div {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: auto !important;
  gap: var(--spacing-small);
  align-items: flex-start;
}
.inside-project-status .grid .grid__item div .milli {
  font-size: var(--font-size-base) !important;
  color: var(--color-dark) !important;
  font-weight: bold !important;
}
.inside-project-status .grid .grid__item div .milli::before {
  content: " : " !important;
}
.inside-project-financial-data::before {
  content: "Rendement cible*";
}
#show_tags {
  padding: 0 !important;
}
.reward_btn--tag {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: var(--spacing-small) !important;
}
.reward_tag_title {
  text-align: start !important;
}
.reward_btn--tag a {
  background: var(--color-secondary) !important;
  color: var(--color-light) !important;
  padding: var(--spacing-small) var(--spacing-medium) !important;
  border-radius: var(--border-radius-small) !important;
  font-weight: bold !important;
  min-height: 28px !important;
  height: auto !important;
  margin-bottom: var(--spacing-small);
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}
.reward_btn--tag a::first-letter {
  text-transform: uppercase !important;
}
.infos-rewards .info-rewards h2 {
  font-size: var(--font-size-large) !important;
  font-weight: 700;
  margin-bottom: var(--spacing-small) !important;
  margin-top: var(--spacing-large) !important;
}
.infos-rewards .info-rewards:has(.bulletpoint) p {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
.infos-rewards .info-rewards .bulletpoint::before {
  content: url("https://img.icons8.com/material-sharp/10/filled-circle.png") !important;
  margin-right: var(--spacing-small) !important;
}
#statistics_project .horizontal_statistics.card {
  position: initial !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}
#statistics_project .horizontal_statistics.card .title_horizontal_statistics,
#statistics_project .horizontal_statistics.card .horizontal_expires_at {
  display: none !important;
}
.horizontal_statistics .progress-bar {
  background-color: var(--color-primary) !important;
  max-width: 360px !important;
  position: absolute !important;
  top: 416px !important;
  z-index: 99;
  height: 20px !important;
  border-radius: var(--border-radius-small);
}
#project-navbar-desktop {
  background-color: var(--color-highlight) !important;
  padding: var(--spacing-medium) var(--spacing-small);
  border-top: 1px solid var(--color-dark) !important;
  border-bottom: 1px solid var(--color-dark) !important;
  position: sticky !important;
  top: 0 !important;
}
#project-navbar-desktop .one-third .nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 74px;
}
#project-navbar-desktop .one-third .nav .button-wrapper {
  margin: 0 !important;
}
.header-project-menu--desktop .grid--full {
  display: flex;
  align-items: center;
}
#section_nav_project {
  background-color: var(--color-highlight) !important;
}
#section_nav_project .nav .nav_menu_align .menu-item {
  border: none !important;
  border-radius: var(--border-radius-small) !important;
}
#section_nav_project .nav .nav_menu_align .menu-item.active {
  background: var(--color-secondary) !important;
  color: var(--color-light) !important;
}
#section_nav_project .nav .nav_menu_align .menu-item:hover {
  background: #f9e3bc !important;
}
#statistics_project .card {
  max-width: none !important;
  min-width: auto !important;
  min-height: auto !important;
  max-height: none !important;
}
.horizontal-social-banner .social-banner {
  display: none !important;
}
#button_back_project {
  background-color: var(--color-dark) !important;
}
#button_follow_project {
  display: none !important;
}
#statistics_project .project-statistic {
  background: none !important;
}
#statistics_project .not_reached_goal {
  display: none !important;
}
#statistics_project .grid__item:has(i) {
  display: none !important;
}
#show_tags {
  display: none !important;
}
.document-project-display .fa-file-pdf-o {
  font-size: 2rem !important;
}
.document-project-display .fa-file-pdf-o::before {
  display:none !important;
}
.document-project-display .fa-file-pdf-o::after {
    content: url("https://img.icons8.com/fluency-systems-regular/48/upload-document.png")
}
@media (max-width: 1208px) {
  .horizontal_statistics .progress-bar {
    top: 466px !important;
  }
}
@media (max-width: 1024px) {
  #grid_horizontal_share_project > .grid__item:nth-of-type(1) {
    display: none !important;
  }
  #grid_horizontal_share_project > .grid__item:nth-of-type(2) {
    width: 100% !important;
    min-height: 400px !important;
    max-height: 400px !important;
  }
  #grid_horizontal_share_project
    > .grid__item:nth-of-type(2)
    #horizontal_card_project {
    max-width: 100% !important;
  }
  .horizontal_statistics .progress-bar {
    max-width: 330px !important;
    top: 364px !important;
    right: 50% !important;
    transform: translate(50%, 0) !important;
  }
  #project-navbar-desktop .header-project-menu--portable > .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #project-navbar-desktop .header-project-menu--portable #js-show-project-menu {
    color: var(--color-primary) !important;
  }
  #project-navbar-desktop #js-header-project-nav {
    position: absolute;
    top: 70px;
    background-color: var(--color-primary) !important;
    padding: var(--spacing-medium) var(--spacing-small);
    border-radius: var(--border-radius-medium) !important;
  }
  #project-navbar-desktop
    #js-header-project-nav
    .nav
    .nav_menu_align
    .menu-item {
    border: none !important;
    border-radius: var(--border-radius-small) !important;
    padding: 12px 16px;
  }
  #project-navbar-desktop
    #js-header-project-nav
    .nav
    .nav_menu_align
    .menu-item.active {
    color: var(--color-secondary) !important;
  }
  #grid_main_template .one-quarter .horizontal_statistics {
    padding: 22px !important;
    margin: 0 !important;
  }
}

/* action circle to bar */
.project-statistic-percentage {
  position: absolute;
  top: 364px !important;
  right: -10% !important;
}

.project-statistic-percentage > div {
  display: block !important;
  width: 200px !important;
  height: 20px !important;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-small);
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

.project-statistic-percentage > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-small);
  transition: width 0.3s ease;
}

.circle-progress[value="0"] ~ div::after {
  width: 0%;
}

.circle-progress[value="1"] ~ div::after {
  width: 1%;
}

.circle-progress[value="2"] ~ div::after {
  width: 2%;
}

.circle-progress[value="3"] ~ div::after {
  width: 3%;
}

.circle-progress[value="4"] ~ div::after {
  width: 4%;
}

.circle-progress[value="5"] ~ div::after {
  width: 5%;
}

.circle-progress[value="6"] ~ div::after {
  width: 6%;
}

.circle-progress[value="7"] ~ div::after {
  width: 7%;
}

.circle-progress[value="8"] ~ div::after {
  width: 8%;
}

.circle-progress[value="9"] ~ div::after {
  width: 9%;
}

.circle-progress[value="10"] ~ div::after {
  width: 10%;
}

.circle-progress[value="11"] ~ div::after {
  width: 11%;
}

.circle-progress[value="12"] ~ div::after {
  width: 12%;
}

.circle-progress[value="13"] ~ div::after {
  width: 13%;
}

.circle-progress[value="14"] ~ div::after {
  width: 14%;
}

.circle-progress[value="15"] ~ div::after {
  width: 15%;
}

.circle-progress[value="16"] ~ div::after {
  width: 16%;
}

.circle-progress[value="17"] ~ div::after {
  width: 17%;
}

.circle-progress[value="18"] ~ div::after {
  width: 18%;
}

.circle-progress[value="19"] ~ div::after {
  width: 19%;
}

.circle-progress[value="20"] ~ div::after {
  width: 20%;
}

.circle-progress[value="21"] ~ div::after {
  width: 21%;
}

.circle-progress[value="22"] ~ div::after {
  width: 22%;
}

.circle-progress[value="23"] ~ div::after {
  width: 23%;
}

.circle-progress[value="24"] ~ div::after {
  width: 24%;
}

.circle-progress[value="25"] ~ div::after {
  width: 25%;
}

.circle-progress[value="26"] ~ div::after {
  width: 26%;
}

.circle-progress[value="27"] ~ div::after {
  width: 27%;
}

.circle-progress[value="28"] ~ div::after {
  width: 28%;
}

.circle-progress[value="29"] ~ div::after {
  width: 29%;
}

.circle-progress[value="30"] ~ div::after {
  width: 30%;
}

.circle-progress[value="31"] ~ div::after {
  width: 31%;
}

.circle-progress[value="32"] ~ div::after {
  width: 32%;
}

.circle-progress[value="33"] ~ div::after {
  width: 33%;
}

.circle-progress[value="34"] ~ div::after {
  width: 34%;
}

.circle-progress[value="35"] ~ div::after {
  width: 35%;
}

.circle-progress[value="36"] ~ div::after {
  width: 36%;
}

.circle-progress[value="37"] ~ div::after {
  width: 37%;
}

.circle-progress[value="38"] ~ div::after {
  width: 38%;
}

.circle-progress[value="39"] ~ div::after {
  width: 39%;
}

.circle-progress[value="40"] ~ div::after {
  width: 40%;
}

.circle-progress[value="41"] ~ div::after {
  width: 41%;
}

.circle-progress[value="42"] ~ div::after {
  width: 42%;
}

.circle-progress[value="43"] ~ div::after {
  width: 43%;
}

.circle-progress[value="44"] ~ div::after {
  width: 44%;
}

.circle-progress[value="45"] ~ div::after {
  width: 45%;
}

.circle-progress[value="46"] ~ div::after {
  width: 46%;
}

.circle-progress[value="47"] ~ div::after {
  width: 47%;
}

.circle-progress[value="48"] ~ div::after {
  width: 48%;
}

.circle-progress[value="49"] ~ div::after {
  width: 49%;
}

.circle-progress[value="50"] ~ div::after {
  width: 50%;
}

.circle-progress[value="51"] ~ div::after {
  width: 51%;
}

.circle-progress[value="52"] ~ div::after {
  width: 52%;
}

.circle-progress[value="53"] ~ div::after {
  width: 53%;
}

.circle-progress[value="54"] ~ div::after {
  width: 54%;
}

.circle-progress[value="55"] ~ div::after {
  width: 55%;
}

.circle-progress[value="56"] ~ div::after {
  width: 56%;
}

.circle-progress[value="57"] ~ div::after {
  width: 57%;
}

.circle-progress[value="58"] ~ div::after {
  width: 58%;
}

.circle-progress[value="59"] ~ div::after {
  width: 59%;
}

.circle-progress[value="60"] ~ div::after {
  width: 60%;
}

.circle-progress[value="61"] ~ div::after {
  width: 61%;
}

.circle-progress[value="62"] ~ div::after {
  width: 62%;
}

.circle-progress[value="63"] ~ div::after {
  width: 63%;
}

.circle-progress[value="64"] ~ div::after {
  width: 64%;
}

.circle-progress[value="65"] ~ div::after {
  width: 65%;
}

.circle-progress[value="66"] ~ div::after {
  width: 66%;
}

.circle-progress[value="67"] ~ div::after {
  width: 67%;
}

.circle-progress[value="68"] ~ div::after {
  width: 68%;
}

.circle-progress[value="69"] ~ div::after {
  width: 69%;
}

.circle-progress[value="70"] ~ div::after {
  width: 70%;
}

.circle-progress[value="71"] ~ div::after {
  width: 71%;
}

.circle-progress[value="72"] ~ div::after {
  width: 72%;
}

.circle-progress[value="73"] ~ div::after {
  width: 73%;
}

.circle-progress[value="74"] ~ div::after {
  width: 74%;
}

.circle-progress[value="75"] ~ div::after {
  width: 75%;
}

.circle-progress[value="76"] ~ div::after {
  width: 76%;
}

.circle-progress[value="77"] ~ div::after {
  width: 77%;
}

.circle-progress[value="78"] ~ div::after {
  width: 78%;
}

.circle-progress[value="79"] ~ div::after {
  width: 79%;
}

.circle-progress[value="80"] ~ div::after {
  width: 80%;
}

.circle-progress[value="81"] ~ div::after {
  width: 81%;
}

.circle-progress[value="82"] ~ div::after {
  width: 82%;
}

.circle-progress[value="83"] ~ div::after {
  width: 83%;
}

.circle-progress[value="84"] ~ div::after {
  width: 84%;
}

.circle-progress[value="85"] ~ div::after {
  width: 85%;
}

.circle-progress[value="86"] ~ div::after {
  width: 86%;
}

.circle-progress[value="87"] ~ div::after {
  width: 87%;
}

.circle-progress[value="88"] ~ div::after {
  width: 88%;
}

.circle-progress[value="89"] ~ div::after {
  width: 89%;
}

.circle-progress[value="90"] ~ div::after {
  width: 90%;
}

.circle-progress[value="91"] ~ div::after {
  width: 91%;
}

.circle-progress[value="92"] ~ div::after {
  width: 92%;
}

.circle-progress[value="93"] ~ div::after {
  width: 93%;
}

.circle-progress[value="94"] ~ div::after {
  width: 94%;
}

.circle-progress[value="95"] ~ div::after {
  width: 95%;
}

.circle-progress[value="96"] ~ div::after {
  width: 96%;
}

.circle-progress[value="97"] ~ div::after {
  width: 97%;
}

.circle-progress[value="98"] ~ div::after {
  width: 98%;
}

.circle-progress[value="99"] ~ div::after {
  width: 99%;
}

.circle-progress[value="100"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="1"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="2"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="3"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="4"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="5"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="6"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="7"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="8"] ~ div::after {
  width: 100%;
}

.circle-progress[value^="9"] ~ div::after {
  width: 100%;
}

.project-statistic-percentage canvas {
  display: none;
}

.project-statistic-percentage .circle-progress {
  display: none;
}
.project-statistic .submit.center #button_back_project {
  display: none !important;
}
